.Warehause{
    table {
        border-collapse: collapse;
        width: 100%;
        height: 100px !important;
        overflow: auto;
      }
      td, th {
        text-align: left;
        padding: 8px;
        border: 1px solid #000;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
}
